@import "tailwindcss";

:root {
  --color-neutral-50: oklch(98.5% 0.001 106.423);
  --color-slate-100: oklch(12.9% 0.042 264.695);
}

@theme inline {
  --color-background: var(--color-neutral-50);
  --color-foreground: var(--color-slate-100);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility font-pixel-square {
  font-family: var(--font-geist-pixel-square);
}

body {
  background: var(--color-neutral-50);
  color: var(--color-slate-100);
  font-family: Arial, Helvetica, sans-serif;
}
